body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}


.index {
    margin-top: 50px;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center; /* Center items vertically */
    align-items: center;     /* Center items horizontally */         /* Full viewport height */
    text-align: center;      /* Center text horizontally */
  }

  
  .info h1, .info h2, .info h3 {
    margin: 0;               /* Remove default margins */
  }


  .dis {
    margin-top: auto; /* Pushes the paragraph to the bottom of the page */
    text-align: right;
    font-size: 10px;
}