body {
    font-family: Arial, Helvetica, sans-serif;
}

.index {
    margin-top: 50px;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center; /* Center items vertically */
    align-items: center;     /* Center items horizontally */         /* Full viewport height */
    text-align: center;      /* Center text horizontally */
  }

  
  .info h1, .info h2, .info h3 {
    margin: 0;               /* Remove default margins */
  }